.home {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home > * {
    position: relative;
    display: block;
    width: 23%;
}

.home_card {
    padding: .5rem;
    text-decoration: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.home_card:hover {
    transform: scale(1.01);
    opacity: .8;
}

.home_card img {
    width: 100%;
}

.home_documentationThumbnail {
    background-color: #9F7CF1;
}

.home_classificationThumbnail {
    background-color: #070431;
}

.home_regressionThumbnail {
    background-color: #F1CB7C;
}

.home_timeseriesThumbnail {
    background-color: #C8FDE4;
}

.home_card h2 {
    font-size: 1rem;
    text-align: center;
    color: black;
}